.rightBox {
    position: absolute;
    right: 70px;
    width: 202px;
    height: 386px;
    border: none;

}
.bottomRightBox {
    position: relative;
    right: 70px;
    width: 202px;
    height: 386px;
    border: none;

}