.overlay {
  position: fixed;
  top: 100px;
  left: 0%;
  bottom: 20px;
  width: 20%;
  height: 90%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: visible;
  opacity: 0;
  pointer-events: auto;
}

.overlay:target {
  display: hidden;
  opacity: 1;
}

.popup {
  left: 5%;
  margin: 5px auto;
  padding: 50px;
  background: #ffffff;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  position: absolute;
  transition: all 5s ease-in-out;
 
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: all 200ms;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
  opacity: 1;
}
