
.bottomRightBox {
    position: relative;
    right: 0px;
    width: 202px;
    height: 386px;
    border: none;
}

.contentContainer {
    float: left;
    width: 85%;
}

.pictureContainer {
    position: relative;
    max-width: auto;
    max-height: auto;
    text-align: center;
}
.pictureContainer img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: scale-down;
}

.storyContainer { 
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    min-height: 400px;
    background-color: #DDD;
}

.buttonContainer {
    float: right;
    width: 15%;
}

.commentContainer {
  border: round;
  width: 70%;
  height; 30px;
  background-color: lightgray;
}
