.storyGallery { 
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1%;
    position: relative;
    max-width: auto;
    max-height: 450px;
    width: auto;
    height: 450px;
    left: 0px;
    border: 0px;
    border-radius: 20px;
    background-color: gray;
}