.thumbnailStory {
    position: relative;
    margin-top: 10px;
    border: none;
    padding: none; 
    width: 100%;
    height: 30%; 

}
.thumbnailStory:hover {
    opacity: 0.8;
}
.fill-div { 
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding-left:10px;
    border-radius: 10px;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
}   

.fill-div:hover { 
    background-color: white;
    background-image: linear-gradient(white, white);
    background: white;
    background: linear-gradient(white, white);
    display: block;
    width: 100%;
    height: 100%;
    padding-left:10px;
}  

.fill-div:active{
    box-shadow: 0 1px 0 #666, 0 2px 0 #424242, 0 2px 2px rgba(0,0,0,0.9);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    animation: none;
}

