.thumbnail {
    position: relative;
    width:350px;
    border-radius: 0px;
}
.thumbnail img {
    display: block;
}
.overlay {
    height: 150px;
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.thumbnail:hover > .overlay {
    opacity: 0.8;
    height: 100px;
}
